@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.flex()
  gap: 30px
  align-items: stretch
  @include m.media(phone, tablet)
    flex-direction: column
    gap: 15px

.left, .right 
  @include m.flex($fd: column, $jc:space-between)
  flex: 1
  min-height: 100%
  gap: 22px

.title
  color: #855EDF
  font-size: f.px(30)
  font-family: Mulish
  font-weight: 600
  line-height: 110%
  @include m.gap($mb: f.px(0))
  @include m.media(phone, tablet)
    font-size: f.px(20)

.img
  width: 100%
  height: auto
  border-radius: f.px(10)
  background-size: contain
  background-repeat: no-repeat

.right
  min-height: 100%
  gap: 20px
  @include m.media(phone, tablet)
    gap: 10px

.cards
  @include m.flex($fd: column)
  justify-content: space-between
  min-height: 100%


.card
  flex: 1
  @include m.gap($pt: f.px(15),$pl: f.px(20),$pb: f.px(25) ,$pr: f.px(61))
  border-radius: 10px
  background: #F9F6FF
  @include m.flex($fd: column)
  gap: 10px
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(10),$plr: f.px(10))

.icon
  width: 12px
  height: 12px
  @include m.flex()
  @include m.media(phone, tablet)
    width: 10px
    height: 10px

.cardDescription
  color: c.$black-700
  font-family: Mulish
  font-size: 20px
  font-style: normal
  font-weight: 300
  line-height: 110%
  p
    @include m.gap($mb: f.px(0))
  a 
    color: c.$black-700
    text-decoration: underline
  @include m.media(phone, tablet)
    font-size: f.px(16)
    width: 100%
    
.color
  font-weight: 500
  