@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title
  font-size: f.px(44)
  margin-top: f.px(60)

.section
  overflow-x: hidden

.swiper-slide-active
  // transform: translateY(-1000px)
  z-index: 10

.container
  overflow: visible
