@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.card > a
  all: unset
  @include m.flex($fd: column, $jc: space-between)
  height: 100%
  width: 100%

.card
  border-radius: f.px(10)
  @include m.gap($plr: f.px(25), $ptb: f.px(20))
  min-height: f.px(230)
  background-size: cover
  background-position: center
  list-style: none
  cursor: pointer
  @include m.media(phone, tablet)
    @include m.gap($p: f.px(15), $pb: f.px(20))

.wrapper
  @include m.flex($fd: column, $jc: space-between)

.header
  @include m.flex($jc: space-between, $ai: center)

.category
  font-size: f.px(10)
  font-weight: 500
  @include m.media(phone, tablet)
    font-weight: 400

.tag
  font-size: f.px(12)
  font-weight: 700
  @include m.flex($jc: space-between, $ai: center)
  gap: f.px(5)
  &::before
    content: ''
    display: inline-block
    width: 13px
    height: 23px
    background-color: white
    mask: url('/assets/imgs/home/EducationalPrograms/Bolt.svg') no-repeat center
    -webkit-mask: url('/assets/imgs/home/EducationalPrograms/Bolt.svg') no-repeat center
    mask-size: contain
    -webkit-mask-size: contain

.title
  @include m.gap($mb: 0)
  font-size: f.px(25)
  @include m.media(phone, tablet)
    font-size: f.px(22)

.popular
  @include m.dye(c, c.$purple-350)
  &::before
    @include m.dye(bg, c.$purple-350)

.studyHours
  font-size: f.px(12)
  @include m.gap($mb: 0)
  & > span:first-child
    font-weight: 500
    @include m.media(phone, tablet)
      font-weight: 600

  & > span:last-child
    font-weight: 300
    @include m.media(phone, tablet)
      font-weight: 600
