@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container 
  @include m.dye(bg, c.$white-900)

.navBlocksContainer 
  display: grid
  list-style: none
  width: 100%
  gap: f.px(20) f.px(30)
  padding-left: 0
  grid-template-columns: repeat(3, 1fr)
  @include m.media(laptop)
    grid-template-columns: repeat(2, 1fr)
  @include m.dye(c, c.$white-900)
  @include m.media(phone, tablet)
    align-content: flex-start
    gap: f.px(10)
    grid-template-columns: 1fr

.item
  width: 100%
  height: f.px(230)
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  padding: f.px(20) f.px(30)
  @include m.media(tablet)
    min-height: f.px(240)
    padding: f.px(25)
  @include m.media(phone)
    padding: f.px(25) f.px(30)
  &:hover
    filter: brightness(110%)
    cursor: pointer

.item > a 
  all: unset
  @include m.flex($fd: column, $jc: space-between)
  height: 100%
  width: 100%

.navBlocksContainer > :nth-child(1) 
  background-image: url('/assets/imgs/home/EducationLevels/bg1.png')

.navBlocksContainer > :nth-child(2) 
  background-image: url('/assets/imgs/home/EducationLevels/bg2.png')

.navBlocksContainer > :nth-child(3) 
  background-image: url('/assets/imgs/home/EducationLevels/bg3.png')

.navBlocksContainer > :nth-child(4) 
  background-image: url('/assets/imgs/home/EducationLevels/bg4.png')

.navBlocksContainer > :nth-child(5) 
  background-image: url('/assets/imgs/home/EducationLevels/bg5.png')

.navBlocksContainer > :nth-child(6) 
  background-image: url('/assets/imgs/home/EducationLevels/bg1.png')

.label
  @include m.gap($mb: f.px(0))
  font-weight: 600
  font-size: f.px(24)
  @include m.media(phone, tablet)
    font-size: f.px(20)

.content 
  @include m.flex($fd: column, $jc: space-between)
  height: 100%
  font-weight: 350
  font-size: f.px(14)
  max-width: f.px(255)

.countPrograms 
  font-size: f.px(12)
  font-weight: 350
  line-height: 130%
