// styles/EducationLevels.module.sass
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$white-900)

.navBlocksContainer
  display: grid
  width: 100%
  gap: f.px(20) f.px(30)
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
  @include m.dye(c, c.$white-900)
  padding-left: 0
  @include m.media(phone, tablet)
    align-content: flex-start
    gap: f.px(10)
    grid-template-columns: 1fr

.item
  width: 100%
  aspect-ratio: 1.6 / 1
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding: f.px(20) f.px(30)
  border-radius: f.px(20)
  transition: filter 0.3s ease
  &:hover
    filter: brightness(110%)
    cursor: pointer
  @include m.media(tablet)


.item > a
  all: unset
  @include m.flex($fd: column, $jc: space-between)
  height: 100%
  width: 100%

.label
  @include m.gap($mb: f.px(0))
  font-weight: 600
  font-size: f.px(24)
  @include m.media(phone, tablet)
    font-size: f.px(20)

.content
  @include m.flex($fd: column, $jc: space-between)
  height: 100%
  font-weight: 350
  font-size: f.px(14)
  color: c.$white-900

.navBlocksContainer > :nth-child(3) .description
  @include m.gap($pr: f.px(80))
  @include m.media(laptop)
    @include m.gap($pr: f.px(80))
  @include m.media(tablet)
    @include m.gap($pr: f.px(100))
  @include m.media(phone)
    @include m.gap($pr: f.px(40))

.countPrograms
  font-size: f.px(12)
  font-weight: 350
  line-height: 130%
