@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.content
  @include m.dye(bg, c.$alpha)
  @include m.dye(c, c.$nu)
  border-radius: f.px(25)
  min-height: 415px
  @include m.flex($fd: column, $jc: space-evenly)
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(28))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(36))

.spanLine
  margin: 0 auto
  width: 88%
  border-bottom: 1px solid white
  @include m.gap($pt: f.px(35), $pb:f.px(30))
  &:nth-last-child(2)
    border: none
    @include m.media(phone, tablet)
      @include m.gap($pb: f.px(0))

.flexMonth
  @include m.flex($fd: column, $ai: center)
  @include m.gap($mb: f.px(2))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(20))
  @include m.media(phone)
    align-items: center
    white-space: nowrap

.fullPrice
  text-align: center
  font-size: f.px(18)
  font-style: normal
  font-weight: 350
  line-height: 120%
  @include m.media(laptop, desktop)
    font-size: f.px(18)
    @include m.gap($mb: f.px(10))
  @include m.media(phone, tablet)
    font-size: f.px(16)
    @include m.gap($mb: f.px(30))

.bold
  display: block
  font-weight: 500

.discount
  height: 100%
  font-weight: 500
  line-height: 110%
  @include m.media(phone)
    font-size: f.px(30)
  @include m.media(tablet)
    display: flex
    justify-content: center
    font-size: f.px(48)
  @include m.media(desktop)
    font-size: f.px(48)
  @include m.media(laptop)
    font-size: f.px(40)

.regular
  position: relative
  font-weight: 500
  @include m.media(laptop, desktop)
    font-size: f.px(25)
    line-height: f.px(39)
  @include m.media(phone, tablet)
    font-size: f.px(21)
    line-height: f.px(32)
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%) rotate(-10deg)
    width: 100%
    height: f.px(2)
    @include m.dye(bg, #F87E1B)

.btns
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  width: 100%
  p
    text-align: center
    @include m.media(laptop, desktop)
      display: none
    @include m.media(phone, tablet)
      font-size: f.px(15)
      font-weight: 350
      text-align: center

    @include m.media(phone)
      max-width: f.px(300)

  button
    width: 305px
    @include m.gap($mb: f.px(16))

  .btnquestion
    display: flex
    justify-content: center
    width: 100%
    @include m.media(laptop, desktop)
      @include m.gap($mb: f.px(16))
    & > *
      width: 100%
      @include m.gap($mlr: f.px(20))
      @include m.media(phone, tablet)

    button
      width: 100%
      border: 1px solid #FFFFFF
      color: #FFFFFF
      font-size: 18px
      font-weight: 500
      @include m.media(desktop)
        height: 65px
        width: 100%
        border-radius: 10px
      @include m.media(laptop)
        height: 54px
      @include m.media(tablet)
        height: 73px

  @media screen and ( max-width: 985px ) and (min-width: bp.$tablet)
  @include m.media(laptop, desktop)
    @include m.flex
.askQuestion
  width: 100%
  @include m.gap($plr: f.px(20), $mb: f.px(20))
  @include m.media(laptop, desktop)
    display: none

.icon
  @include m.flex($jc:space-around)
