@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$white-900)
  overflow-x: hidden
  width: 100%

.title
  color: c.$black-900
  font-size: f.px(44)
  font-weight: 700
  line-height: 120%
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    font-size: f.px(25)
    @include m.gap($mb: f.px(15))

.navigation
  @include m.flex($jc: space-between, $ai: center)
  @include m.gap($mt: f.px(20))
  @include m.media(phone, tablet)
    @include m.flex($jc: center)
    @include m.gap($mt: f.px(15))

.card
  background: c.$white-900
  border: 1px solid #A78CFF
  border-radius: 10px
  @include m.flex($fd: column, $jc: space-between)
  @include m.gap($pt: f.px(30),$plr: f.px(14))
  flex: 1
  height: 100%
  gap: 20px
  @include m.media(phone, tablet)
    gap: 15px
    @include m.gap($plr: f.px(0))

.image
  width: 100%
  height: auto
  object-fit: cover

.text
  @include m.flex($fd: column)
  gap: 10px
  text-align: center
  p
    margin: 0px

.titleCard
  font-weight: 600
  font-size: 24px
  color: c.$purple-450
  @include m.media(phone, tablet)
    font-size: 16px

.subtitle
  font-size: f.px(18)
  color: c.$black-900
  @include m.media(phone, tablet)
    font-size: 14px

.slide
  width: 370px
  height: auto
  flex-shrink: 0  
  @include m.flex($fd: column, $ai: stretch)
  @include m.media(phone, tablet)
    width: 347px

.containerSwiper
  overflow: visible !important