@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  padding: 20px
  max-width: 1200px
  margin: 0 auto

.title
  font-size: 24px
  margin-bottom: 20px

.baseBtn
  padding: 10px 20px
  background-color: #8F60FF
  color: white
  border: none
  border-radius: 4px
  cursor: pointer
  font-size: 16px
  &:disabled
    background-color: #ccc
    cursor: not-allowed
  &:hover
    opacity: 0.8

.mainActionBtn
  @extend .baseBtn
  background-color: #8F60FF

.actionButton
  @extend .baseBtn
  padding: 5px 10px
  background-color: gainsboro
  color: black

.deleteButton
  @extend .baseBtn
  background-color: rgba(253, 80, 80, 0.98)
  margin-left: 10px
  color: white

.tableContainer
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  max-width: 100%
  margin-bottom: 20px

.table
  width: 100%
  border-collapse: collapse

  th, td
    border: 1px solid #ddd
    padding: 8px
    text-align: left
    width: 25%
  th
    background-color: #f2f2f2
  th:last-child, td:last-child
    position: sticky
    right: 0
    background-color: #f2f2f2
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.1) // Тень для визуального разделения
    // min-width: 200px // Минимальная ширина колонки с кнопками

.tableBtns
  @include m.flex($jc: space-between)
  gap: 10px
  @include m.media(phone, tablet)
    flex-direction: column

.form
  display: flex
  flex-direction: column
  gap: 15px

.formGroup
  @include m.flex($fd: column)
  gap: 5px

.formGroup > label
  font-size: 16px
  font-weight: 500

.input
  padding: 10px
  border: 1px solid #ccc
  border-radius: 4px
  font-size: 16px

.statusCell
  width: 10px !important
.statusCircle
  display: inline-block
  width: 12px
  height: 12px
  border-radius: 50%
  cursor: pointer

  &.active
    background-color: #28a745 // Зеленый для активных

  &.inactive
    background-color: #ffc107 // Желтый для неактивных