@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.promoWrapper
  display: grid
  gap: f.px(24)
  grid-template-columns: repeat(2, 1fr) //
  @include m.media(phone, tablet)
    display: flex
    flex-direction: column

.maintitle
  @include m.gap( $ptb: f.px(20))

.mainActionBtn
  background-color: #489DEB
  padding: 12px 20px
  border-radius: 4px
  align-self: center  
  margin-bottom: 20px
  color: white

