@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  border-radius: 30px
  @include m.dye(bg, c.$purple-100)
  background: url("../group.png") center center
  background-size: cover
  @include m.gap($ptb: f.px(40))
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(23))

.title
  color: c.$black-800
  font-size: f.px(44)
  font-weight: 500
  line-height: 120%
  @include m.gap($mb: f.px(35))
  @include m.media(phone, tablet)
    font-size: f.px(26)
    @include m.gap($mb: f.px(15))

.tabs
  @include m.flex($jc: center)
  gap: 10px
  border: 1px solid c.$purple-800
  background: #F9F6FF
  border-radius: f.px(100)
  height: 77px
  @include m.gap($mb: f.px(35), $ptb: f.px(6))
  @include m.media(phone, tablet)
    display: none

.tab
  @include m.flex($ai: center,$jc: center)
  @include m.gap($ptb: f.px(22), $plr: f.px(71))
  border-radius: 100px
  font-size: f.px(20)
  cursor: pointer
  transition: 0.3s
  color: c.$black-700
  font-weight: 350
  line-height: 110%

  &:hover, &.activeTab
    background: c.$purple-800
    color: white

.select
  width: 100%
  height: 50px
  border: none
  background: transparent
  font-size: f.px(20)
  color: c.$purple-800
  text-align: center
  font-weight: 500
  cursor: pointer
  outline: none
  @include m.gap($mb: f.px(15))
  @include m.media(phone, tablet)
    font-size: f.px(14)

  &:focus
    border: none
    outline: none
