
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$white-900)
  margin-top: -60px

.title
  font-weight: 500
  line-height: 100%
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))

.description
  font-size: f.px(20)
  font-style: normal
  font-weight: 500
  line-height: 120%
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20),$pr: f.px(40))
    font-size: f.px(16)

.buttonContainer
  @include m.flex($jc: center, $ai: center) 
  z-index: 2
  border-radius: f.px(10)
  background: #FF8F52
  width: 100%
  color: c.$white-900
  font-size: f.px(22)
  font-weight: 500
  @include m.gap($mb: f.px(0),$ptb: f.px(21))
  @include m.gap($mt: f.px(30))
  @include m.media(phone,tablet)
    @include m.gap($mt: f.px(20))
    border-radius: f.px(5)
    @include m.gap($ptb: f.px(18))
    font-size: f.px(16)