@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$orange-400)
  background: url('./bg.jpg') no-repeat center center
  background-size: cover

.title
  color: c.$white-900
  font-size: f.px(44)
  font-weight: 700
  line-height: 120%
  @include m.gap($mb: f.px(18))
  @include m.media(phone, tablet)
    font-size: f.px(25)
    @include m.gap($mb: f.px(15))

.text
  color: c.$white-900
  font-size: f.px(20)
  font-weight: 500
  line-height: 120%
  @include m.media(phone, tablet)
    font-size: f.px(16)

.navigation
  @include m.flex($jc: space-between, $ai: center)
  @include m.gap($mb: f.px(20))
  @include m.media(phone, tablet)
    @include m.flex($jc: flex-start)
    @include m.gap($mb: f.px(10))
    > :last-child
      display: none

.navigationMob
  display: none
  @include m.media(phone, tablet)
    @include m.flex($jc: center, $ai: center)
    @include m.gap($mt: f.px(15))

.cards
  position: relative
  display: flex
  gap: 30px
  transition: opacity 0.3s ease
.card
  @include m.flex($fd: column)
  flex: 1
  border: 1px solid c.$orange-700
  border-radius: 10px

.image
  width: 100%
  height: 100%
  border-radius: 10px
 
.fade
  opacity: 0.5
