@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container 
  background-color: c.$purple-450
  padding: 0 40px !important
  border-radius: 0px !important
  margin: 0 -15px !important
  @include m.flex($jc: space-between, $ai: center)
  position: sticky
  top: 0
  z-index: 100
  max-height: 50px
  @include m.media(phone, tablet, laptop)
    display: none

.navbar
  width: 100%
  max-height: 50px
  @include m.flex($jc: space-between, $ai: center)
  @include m.gap($plr: 0)
  @include m.media(desktop, laptop)
    max-width: f.px(1200, em)
    @include m.gap($m: 0 auto)

.navbar > div
  transform: scale(0.7)

.links
  display: flex
  gap: 45px
  @include m.gap($p: 0, $pr: f.px(20), $m: 0)

  li
    list-style: none
    cursor: pointer
    font-size: 18px
    font-weight: 300
    color: c.$white-900
    transition: opacity 0.2s ease

    &:hover
      opacity: 0.8
