.section
  overflow: visible
  overflow-x: hidden

.swiper-slide-active
  transform: translateY(-1000px)
  z-index: 10

.img
  object-fit: cover
  transform: translateY(0px)
  transition: transform 0.5s ease-in

.container
  overflow: visible

.nextImg
  transform: translateY(-150%)
  transition: transform 0.5s ease-in
